{

  "printWidth": 80,                
  "tabWidth": 2,                  
  "singleQuote": true,          
  "semi": false,                   
  "trailingComma": "es5",        
  "bracketSameLine": false,        
  "endOfLine": "auto",            


  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}